/* Global Css  */
/* *********************************
ROOT 
************************************/

:root {
  --max-width: 1440px;
}

/* *********************************
LAYOUT & MAIN
************************************/

.container {
  max-width: var(--max-width);
}

.notebox {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px;
}

.inputbox {
  padding: 16px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
